/* Line 2 is the attribute for arrangement of text*/ 
*{ 
  box-sizing: border-box;
}
/* Line 6 rule set would change the background color and color text within the body*/ 
body { 
background-color: azure		; 
color: navy; 
}
/*Style of the header */
.header{
background-color: PapayaWhip;
padding: 20px;
text-align:left;
color: DarkSeaGreen; 
}



/* style of nav bar*/
.topnav{
 background-color: PowderBlue	;
 overflow:hidden;
}
/* style the links inside the nav bar*/
.topnav a{
color: olive;
float: left;
display: block;
text-align: center;
padding: 14px 16px;
}


/* changes color on hover or mouse over */
.topnav a:hover{
background-color: Wheat;
color: LightCoral; 
}
/* Creates 3 equal columns tht float next to each other*/ 
.column{
  float: left;
  width:33.33%;
  padding:15px;
  border-style: dotted;
  border-width: 3px;
  background-color:#E7F9FE;
  
  border-color:tan;
}

