/* Line 2 is the attribute for arrangement of text*/ 
*{ 
  box-sizing: border-box;
}
/* Line 6 rule set would change the background color and color text within the body*/ 
body { 
background-color: YellowGreen		; 
color: azure; 
}
/*Style of the header */
.header{
background-color: PapayaWhip;
padding: 20px;
text-align:left;
color: DarkSeaGreen; 
}



/* style of nav bar*/
.topnav{
 background-color: PowderBlue	;
 overflow:hidden;
}
/* style the links inside the nav bar*/
.topnav a{
color: olive;
float: left;
display: block;
text-align: center;
padding: 14px 16px;
}


/* changes color on hover or mouse over */
.topnav a:hover{
background-color: Wheat;
color: LightCoral; 
}